# *Q2*
-    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

     Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [1]:
#Assume,
# Null Hypothesis as Ho: μ1 = μ2 = μ3 = μ4
# Alternate Hypothesis Ha: At least one mean is different

### Annova:
- Annova is generally used to test the significance of the difference of the mean values amoung more than two sample groups.
- It uses F-Test to statistically test the equality of means and the relative variance between them.

In [2]:
#Import labraries 
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [3]:
#Import Dataset
LabTAT=pd.read_csv(r"LabTAT (1).csv")

In [4]:
LabTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
p_value=stats.f_oneway(LabTAT.iloc[:,0],LabTAT.iloc[:,1],LabTAT.iloc[:,2],LabTAT.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [6]:
p_value[1]

2.1156708949992414e-57


- alpha(Significance level) = 5% = 0.05
- pvalue = 2.1156708949992414e-57
- Comparing Both the values->>>   pvalue<alpha(5% significance level)

In [7]:
# Decision: Reject Null Hypothesis(Ho:μ1 = μ2 = μ3 = μ4) 
print("There is significant difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list")

There is significant difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list